<?xml version="1.0" encoding="UTF-8"?>
<!-- Web应用配置文件的根元素，需要指定配置文件的Schema信息 -->
<web-app xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance
xmlns=http://java.sun.com/xml/ns/javaee
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
      <!-- 定义Struts 2的核心控制器：FilterDispatcher -->
      <filter>
          <!-- 定义核心Filter的名字 -->
          <filter-name>struts2</filter-name>
          <!-- 定义核心Filter的实现类 -->
          <filter-class>org.apache.struts2.dispatcher.FilterDispatcher </filter-class>
      </filter>
      <!-- FilterDispatcher用来初始化Struts 2并且处理所有的.action请求 -->
      <filter-mapping>
          <filter-name>struts2</filter-name>
          <url-pattern>/*.action</url-pattern>
      </filter-mapping>
</web-app>
